@charset "UTF-8"; 
 
body{ 
    background-color: rgb(205, 255, 203); 
    font-family: Arial, Helvetica, sans-serif;
} 
h1{ 
color: rgb(4, 109, 0); 
} 
#principal{ 
    text-align: center; 
    background-color: rgb(4, 109, 0); 
    color: white;
} 
h2{ 
    color: rgb(73, 109, 71);  
} 
.Basico{ 
    color: rgb(4, 109, 0); 
} 
.Intermediario{ 
    color: rgb(236, 233, 57); 
} 
.avançado{ 
    color: rgb(109, 0, 0); 
}