@charset "UTF-8";  
  
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 
@font-face{ 
    font-family: 'Android' ; 
    src: url(../fontes/idroid.otf) format('opentype'); 
    font-weight: normal;
} 
 
*{ 
    margin: 0px; 
    padding: 0px;
}
 
:root{  
    --cor0: #c5ebd6; 
    --cor1: #83E1AD; 
    --cor2: #3DDC84; 
    --cor3: #2FA866; 
    --cor4: #1A5C37; 
    --cor5: #063d1e; 
     
    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif; 
    --fonte-destaque:'Bebas Neue', sans-serif; 
    --fonte-android:'Android', sans-serif; 
}  
body{ 
    background-color: var(--cor0); 
    font-family: var(--fonte-padrão);
} 
 
header{ 
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); 
    min-height: 150px; 
    text-align: center; 
    color: white; 
    padding-top: 40px; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
}
header > h1 {  
    font-family: var(--fonte-destaque); 
    margin-bottom: 20px; 
    font-size: 3em; 
    font-weight: normal;
    
}  
header > p{ 
     padding: 30px 10px 20px 10px; 
     font-family: var(--fonte-padrão); 
     font-size: 1.2em; 
     max-width: 500px; 
     margin: auto; 
     
} 
nav{ 
    background-color: var(--cor5); 
    padding: 10px; 
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.267);
} 
nav > a { 
    Color: white; 
    padding: 10px; 
    text-decoration: none;
    font-weight: bolder; 
    transition-duration: .5s;
} 
nav >a:hover{ 
    background-color: var(--cor3); 
    color: var(--cor5);
} 
a.externo::after{ 
    content: "\1F517\0020";
}
main{ 
    background-color: white; 
    min-width: 300px; 
    max-width: 1000px; 
    margin: auto; 
    margin-bottom: 30px; 
    padding: 20px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288); 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
} 
 
main p{ 
    margin: 15px 0px; 
    text-align: justify; 
    text-indent: 30px;
    font-size: 1em; 
    line-height: 1.7em;
} 
main img{ 
    width: 100%; 
}  
main strong{ 
    color: var(--cor3); 
    font-weight: bold;
    padding: 2px 5px;
} 
main a { 
    text-decoration: none; 
    color: var(--cor4); 
    font-weight: bold; 
    padding: 2px 5px;
} 
main a:hover{ 
    text-decoration: underline;  
    color: var(--cor2);
}
main img.pequena{ 
    max-width: 350px; 
    display: block; 
    margin: auto;
}
article >  h1{ 
    color: var(--cor5); 
    font-family: var(--fonte-android); 
    font-weight: normal; 
    font-size: 1.8em;
} 
article > h2{ 
    font-family: var(--fonte-android); 
    background-image: linear-gradient(to right, var(--cor2), transparent); 
    color:var(--cor5) 
} 

aside{ 
    background-color: var(--cor1); 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);
} 
aside > h3{ 
    background-color: var(--cor4); 
    color: white; 
    padding: 10px; 
    margin: -10px -10px 0px -10px; 
    border-radius: 10px 10px 0px 0px; 
    font-weight: normal;
}  
div.video{ 
    background-color: var(--cor4); 
    margin: 0px -20px 30px -20px; 
    padding: 20px; 
    padding-bottom: 59%; 
    position: relative;
} 
div.video > iframe{ 
    position: absolute; 
    top: 5%; 
    left: 5%; 
    width: 90%; 
    height: 90%; 

}
aside > ul{ 
    list-style-position: inside; 
    columns: 2; 
    list-style-type: '\2714\0020\0020';
} 
footer{ 
    background-color: var(--cor5); 
    color: white; 
    text-align: center; 
    font-size: 1.2em; 
    padding: 5px;
} 
footer a{ 
    text-decoration: none; 
    color: var(--cor2); 
    font-weight: bold;  
    padding: 2px 5px;
} 
 
footer a:hover{ 
    text-decoration: underline;
}