@charset "UTF-8"; 
*{  
    font-family: Arial, Helvetica, sans-serif;
   
} 
body{ 
    background-image: linear-gradient(to right, #2F3D40, #455559);
} 
main{ 
    background-color: white; 
    border-radius: 20px; 
    box-shadow: 5px 5px 15px #28403D; 
    width: 700px; 
    padding: 10px; 
    margin: auto;
}
  
h1{ 
 color: #3D5A73; 
 text-align: center; 
 text-shadow:1px 1px 2px #253644e7;    

 } 
h2{ 
    color: #182625; 

}
p{ 
    text-align: justify;
}